{% extends "base.html"%} {% block links%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<!--===============================================================================================-->
{% endblock %} {% block body%}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-35 p-b-35">
            <form class="login100-form validate-form flex-sb flex-w" method="POST">
                {{ form.hidden_tag()}}
                <span class="login100-form-title p-b-30">
                    signup
                </span>

                <div class="wrap-input100 validate-input m-b-16">
                    {{ form.email()}}
                    <!-- <input class="input100" type="text" name="fullname" placeholder="Full name"> -->
                    <span class="focus-input100"></span> {% for er in form.email.errors %}
                    <span class="error">{{er}}</span> {% endfor %}
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    {{ form.fullname()}}
                    <!-- <input class="input100" type="text" name="fullname" placeholder="fullname"> -->
                    <span class="focus-input100"></span> {% for er in form.fullname.errors %}
                    <span class="error">{{er}}</span> {% endfor %}
                </div>


                <div class="wrap-input100 validate-input m-b-16">
                    {{form.password()}}
                    <!-- <input class="input100" type="password" name="pass" placeholder="Password"> -->
                    <span class="focus-input100"></span> {% for er in form.password.errors %}
                    <span class="error">{{er}}</span> {% endfor %}
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    {{form.con_password()}}
                    <!-- <input class="input100" type="password" name="pass" placeholder="Confirm Password"> -->
                    <span class="focus-input100"></span> {% for er in form.con_password.errors %}
                    <span class="error">{{er}}</span> {% endfor %}
                </div>


                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Sign Up
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %} {% block javascript%}
<script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}